body{
    padding: 10%;
}
.parent{
    background-color: hsla(200, 100%, 20%);
    height: 500px;
    width: 800px;
}
.child{
    background-color: red;
    height: 50%;
    width: 50%;
    transition:transform 1s cubic-bezier(0.68, 0.04, 0.91, 1.74);
} 
 .parent:hover .child{
    background-color: gray;
    transform: translateX(100%);
} 